﻿<div class="span6">
<h4>Assessments Forms</h4>
<label for="selectedPatientAssessment">Patient Assessments</label>
      <select name="selectedPatientAssessment" ng-model="selectedPatientAssessment" id="selectedPatientAssessment" ng-change="getassessmentform()">
      <option value="none">Choose a Form</option>
    <option ng-repeat="field in dataAssessmentList" value="{{field.assessmentName}}" >{{field.assessmentName}}</option>
    </select>
  <form id="assessmentform">
   <ng-form name="form">
  <h5>{{selectedPatientAssessment}}</h5>
  <div ng-repeat="field in dataAssessment" ng-switch="field.fieldType" class="ten-bottom">
  <label style="display: inline">{{field.fieldName}}</label>
  <input type="text" class="input-block-level assess-item" name="{{mypatientid}}-{{field.fieldType}}-{{field.fieldID}}" ng-switch-when="38" />
  <input type="text" class="input-block-level assess-item" name="{{mypatientid}}-{{field.fieldType}}-{{field.fieldID}}" ng-switch-when="39" />
  <input type="number" class="input-block-level assess-item" name="{{mypatientid}}-{{field.fieldType}}-{{field.fieldID}}" ng-switch-when="109" />
  <input type="text" class="input-block-level assess-item datepicker" name="{{mypatientid}}-{{field.fieldType}}-{{field.fieldID}}" ui-date  ng-switch-when="111"  />
  <input type="checkbox" class="{{field.fieldType}} checbox my-checbox  assess-item" name="{{mypatientid}}-{{field.fieldType}}-{{field.fieldID}}" value="true" ng-switch-when="50"  />
  <select name="{{mypatientid}}-{{field.fieldType}}-{{field.fieldID}}" ng-switch-when="1" class="input-block-level assess-item">
    <option ng-repeat="item in dataDropdowns" value="{{item.fieldDropdownID}}">{{item.displayText}}</option>
    </select>
 </div>
  <div class="validation_error" data-ng-show="form['\{\{field.name\}\}'].$error.required">Can't be empty.</div>
  <div class="validation_error" data-ng-show="form['\{\{field.name\}\}'].$error.pattern">Please format your date as in MM/DD/YYYY</div>
    <button class="btn" ng-click="postassessmentform()" ng-disabled="form.$invalid" ng-show="getSubmitButton() == 1">Submit Assessment</button>
    </ng-form>
  </form>
  </div>
  <div class="span6">
  <h4>Assessments Menu</h4>
  <p><a href="/default.htm#/logout">Logout</a></p>
  <p><a href="/default.htm#/patientlookup">Switch Patient</a></p>
  <p>
<a href="/default.htm#/patientinfo/{{mypatientid}}">Show Patient Info</a>
</p>
<p>
<a href="/default.htm#/assessmentscompleted/{{mypatientid}}">Completed Assessments</a>
</p>
<div  ng-show="getSubmitButton() == 1">
  <h4>Entries Tracker</h4>
  <table>
<tr>
<th>Assessment</th><th>Field</th><th>Answer</th><th>Date Created</th>
</tr>
<tr ng-repeat="field in dataAssessmentsAnswers">
<td>{{field.assessmentName}}</td><td>{{field.fieldName}}</td><td>{{field.answer}}</td><td>{{field.createDate}}</td>
</tr>
</table>
</div>
  </div>
 
