﻿<div class="span6">
<h4>Assessments Completed</h4>
<p ng-repeat="field in dataAssessmentsCompleted">
<a href="/default.htm#/assessmentsdetail/{{mypatientid}}/{{field.assessmentName}}">{{field.assessmentName}}</a>
</p>
</div>
<div class="span6">
  <h4>Assessments Menu</h4>
  <p><a href="/default.htm#/logout">Logout</a></p>
  <p><a href="/default.htm#/patientlookup">Switch Patient</a></p>
  <p>
<a href="/default.htm#/patientinfo/{{mypatientid}}">Show Patient Info</a>
</p>
<p>
<a href="/default.htm#/assessmentsform/{{mypatientid}}">Assessment Forms</a>
</p>
</div>