﻿<h4>Login</h4>
<form ng-controller="LoginController" ng-submit="submitlogin()">
<label for="username">Username</label>
<input type="text" id="username" name="username" class="input-block-level" ng-model="user.username"/>
<label for="password">Password</label>
<input type="password" name="password" class="input-block-level" id="password" ng-model="user.password"/>
<button class="btn input-block-level">Login</button>
</form>
         