﻿<div class="span6">
<h4>Assessments Detail</h4>
<table>
<tr>
<th>Assessment</th><th>Field</th><th>Answer</th><th>Date Created</th>
</tr>
<tr ng-repeat="field in dataAssessmentsAnswers">
<td>{{field.assessmentName}}</td><td>{{field.fieldName}}</td><td>{{field.answer}}</td><td>{{field.createDate}}</td>
</tr>
</table>
</div>
<div class="span6">
  <h4>Assessments Menu</h4>
  <p><a href="/default.htm#/logout">Logout</a></p>
  <p><a href="/default.htm#/patientlookup">Switch Patient</a></p>
  <p>
<a href="/default.htm#/patientinfo/{{mypatientid}}">Show Patient Info</a>
</p>
<p>
<a href="/default.htm#/assessmentsform/{{mypatientid}}">Assessment Forms</a>
</p>
<p>
<a href="/default.htm#/assessmentscompleted/{{mypatientid}}">Completed Assessments</a>
</p>
</div>