﻿<div class="span6">
<h4>Patient Info Form</h4>
<form id="patientform">
<div ng-repeat="field in dataPatientInfo">
  <label>Patient ID:</label>
  <input class="input-block-level patient-item" ng-model="field.patientID" required />
  <label>First Name:</label>
  <input class="input-block-level patient-item" ng-model="field.firstName" required />
  <label>Last Name:</label>
  <input class="input-block-level patient-item" ng-model="field.lastName" required />
  <label>Address1:</label>
  <input class="input-block-level patient-item" ng-model="field.address1" required />
  <label>Address2:</label>
  <input class="input-block-level patient-item" ng-model="field.address2" />
  <label>Address3:</label>
  <input class="input-block-level patient-item" ng-model="field.address3" />
  <label>City:</label>
  <input class="input-block-level patient-item" ng-model="field.city" required />
  <label>State:</label>
  <input class="input-block-level patient-item" ng-model="field.state" required />
  <label>Postalcode:</label>
  <input class="input-block-level patient-item" ng-model="field.postalCode" required />
  <label>Country:</label>
  <input class="input-block-level patient-item" ng-model="field.country" required />
  <label>Home Phone:</label>
  <input class="input-block-level patient-item" ng-model="field.phoneHome" required />
  <label>Cell Phone:</label>
  <input class="input-block-level patient-item" ng-model="field.phoneCell" required />
  <label>Gender (type 0 for female or 1 for male):</label>
  <input class="input-block-level patient-item" ng-model="field.gender" required />
  <label>Date of Birth: {{outputDOB}}</label>
 
  <input class="input-block-level patient-item" ng-model="field.dateBirth" />

  <label>Social Security Number:</label>
  <input class="input-block-level patient-item" ng-model="field.ssNumber" required />
  <label>Ethncity: (o = caucasian, 1 = african, 2 = asian, 3 = native american, 4 = mixed)</label>
  <input class="input-block-level patient-item" ng-model="field.ethnicity" required />
  <br />
  <button class="btn" ng-click="updatepatientinfo()">Update Patient</button>
</div>
</form>
</div>
<div class="span6">
  <h4>Assessments Menu</h4>
  <p><a href="/default.htm#/logout">Logout</a></p>
  <p><a href="/default.htm#/patientlookup">Switch Patient</a></p>
  <p>
<a href="/default.htm#/assessmentscompleted/{{mypatientid}}">Completed Assessments</a>
</p>
<p>
<a href="/default.htm#/assessmentsform/{{mypatientid}}">Assessment Forms</a>
</p>
</div>