﻿<div class="span6">
<h4>Lookup Patient</h4>
<label for="patient-first">Patient First Name</label>
<input type="text" ng-model="PatientFirst" class="input-block-level" name="FirstName" />
<label for="patient-last">Patient Last Name</label>
<input type="text" ng-model="PatientLast" class="input-block-level" name="LastName" />
<button ng-click="findpatient()"  ng-model="showpatientmodel" class="btn input-block-level">Get PatientID</button>
</div>
<div class="span6">
<div ng-repeat="field in dataPatientID">
<p>
Patient ID <span id="PatientIDHolder">{{field.patientID}}</span> 
</p>
<p><a href="/default.htm#/logout">Logout</a></p>
<p>
<a href="/default.htm#/patientinfo/{{field.patientID}}">Show Patient Info</a>
</p>
<p>
<a href="/default.htm#/assessmentsform/{{field.patientID}}">Assessment Forms</a>
</p>
<p>
<a href="/default.htm#/assessmentscompleted/{{field.patientID}}">Completed Assessments</a>
</p>
</div>
</div>


