﻿body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
}

table, td, th
{
    padding: 8px;
    border: 1px solid #000;
}
     
.my-checbox 
{
     display: inline; margin-top: -2px;
 }
 
 #assessmentcontainer
 {
     margin-bottom: 10px;
 }

.ten-bottom 
{
    margin-bottom: 10px;
}
      
  