<!doctype html>
<html ng-app="AssessmentsEngine">
  <head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
  <link href="/Content/css/main.css" rel="stylesheet" />
    <script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="/Content/js/main.js"></script>
  </head>
  <body>
    <div ng-controller="FetchCtrl" class="container">
    <div class="form-signin">
    <h3 class="form-signin-heading">CARD Assessments</h3>
    <label for="patient-first">Patient First Name</label>
      <input type="text" ng-model="PatientFirst" class="input-block-level" name="FirstName" />
      </p>
      <p>
       <label for="patient-last">Patient Last Name</label>
      <input type="text" ng-model="PatientLast" class="input-block-level" name="LastName" /><br />
       <button ng-click="findpatient()"  ng-model="showpatientmodel" class="btn">Get PatientID</button><br />
      </p>
      <p ng-repeat="field in dataPatientID">
      Patient ID <span id="PatientIDHolder">{{field.patientID}}</span> 
      <button class="btn" ng-click="assessmentscompleted(field.patientID)" ng-model="getpatientmodel">Show Completed Assessments</button><br /><br />
       <button class="btn" ng-click="getpatientinfo(field.patientID)" ng-model="showpatientmodel">Show Patient Info</button>
      </p>
      <p ng-repeat="field in dataAssessmentsCompleted">
      {{field.assessmentName}}
      </p>
      <h4>Patient Info Form</h4>
      <form id="patientform">
      <div ng-repeat="field in dataPatientInfo">
        <label>Patient ID:</label>
        <input class="input-block-level" ng-model="field.patientID" required />
        <label>First Name:</label>
        <input class="input-block-level" ng-model="field.firstName" required />
        <label>Last Name:</label>
        <input class="input-block-level" ng-model="field.lastName" required />
        <label>Address1:</label>
        <input class="input-block-level" ng-model="field.address1" required />
        <label>Address2:</label>
        <input class="input-block-level" ng-model="field.address2" />
        <label>Address3:</label>
        <input class="input-block-level" ng-model="field.address3" />
        <label>City:</label>
        <input class="input-block-level" ng-model="field.city" required />
        <label>State:</label>
        <input class="input-block-level" ng-model="field.state" required />
        <label>Postalcode:</label>
        <input class="input-block-level" ng-model="field.postalCode" required />
        <label>Country:</label>
        <input class="input-block-level" ng-model="field.country" required />
        <label>Home Phone:</label>
        <input class="input-block-level" ng-model="field.phoneHome" required />
        <label>Cell Phone:</label>
        <input class="input-block-level" ng-model="field.phoneCell" required />
        <label>Gender (type 0 for female or 1 for male):</label>
        <input class="input-block-level" ng-model="field.gender" required />
        <label>Date of Birth: {{outputDOB}}</label>
       
        <input class="input-block-level" ng-model="field.dateBirth" />
   
        <label>Social Security Number:</label>
        <input class="input-block-level" ng-model="field.ssNumber" required />
        <label>Ethncity: (o = caucasian, 1 = african, 2 = asian, 3 = native american, 4 = mixed)</label>
        <input class="input-block-level" ng-model="field.ethnicity" required />
        <br />
        <button class="btn" ng-click="updatepatientinfo()">Update Patient</button>
      </div>
      </form>
    <div ng-init="getassessments()" ng-model="getassessmentsbutton">
      <label for="selectedPatientAssessment">Patient Assessments</label>
      <select name="selectedPatientAssessment" ng-model="selectedPatientAssessment" id="selectedPatientAssessment">
      <option value="none">Choose a Form</option>
    <option ng-repeat="field in dataAssessmentList" value="{{field.assessmentName}}">{{field.assessmentName}}</option>
    </select>
    </div>
    <p>
    <button ng-click="getassessmentform()" ng-model="getformbutton" class="btn">Generate {{selectedPatientAssessment}} Form</button>
    </p>
  <form id="assessmentform">
   <ng-form name="form">
  <h5>{{selectedPatientAssessment}}</h5>
   <div ng-repeat="patient in dataPatientID">
  <div ng-repeat="field in dataAssessment" ng-switch="field.fieldType" style="margin-bottom: 10px;">
  <label style="display: inline">{{field.fieldName}}</label>
  <input type="text" class="input-block-level" name="{{patient.patientID}}-{{field.fieldType}}-{{field.fieldID}}" required ng-switch-when="38" />
  <input type="text" class="input-block-level" name="{{patient.patientID}}-{{field.fieldType}}-{{field.fieldID}}" required ng-switch-when="39" />
  <input type="number" class="input-block-level" name="{{patient.patientID}}-{{field.fieldType}}-{{field.fieldID}}" required ng-switch-when="109" />
  <input type="text" class="input-block-level" name="{{patient.patientID}}-{{field.fieldType}}-{{field.fieldID}}" required ng-switch-when="111" />
  <input type="checkbox" class="{{field.fieldType}} checbox my-checbox" name="{{patient.patientID}}-{{field.fieldType}}-{{field.fieldID}}" value="true" ng-switch-when="50" />
  <select name="{{patient.patientID}}-{{field.fieldType}}-{{field.fieldID}}" ng-switch-when="1" class="input-block-level">
    <option ng-repeat="field in dataDropdowns" value="{{field.fieldDropdownID}}">{{field.displayText}}</option>
    </select>
  </div>
  </div>
  <div class="validation_error" data-ng-show="form['\{\{field.name\}\}'].$error.required">Can't be empty.</div>
    <button class="btn" ng-click="postassessmentform()" ng-disabled="form.$invalid">Submit Assessment</button>
    </ng-form>
  </form>
    </div>
    </div>
  </body>
</html>
